@import "tailwindcss";

@theme {
  
  /* Custom theme Colors */
  --color-primary: #890C25;
  --color-primary-dark: #252525;
  
  /* Custom Default Colors */
  --color-surface: #ffffff;

  /* Fonts for the theme */
  --font-body: "Poppins", sans-serif;
  --font-display: "Playfair Display", serif;

}

/* Base Body Styles */
body {
  background-color: var(--color-surface);
  color: var(--color-primary-dark);
  margin: 0;
  font-family: var(--font-body);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-display);
}

/* Overwriting Tailwind clsses */

.container {
  width: 100%;
  margin-inline: auto; 
  padding-inline: 1rem;

  @media (width >= 40rem) { max-width: 40rem; }
  @media (width >= 48rem) { max-width: 48rem; }
  @media (width >= 64rem) { max-width: 64rem; }
  @media (width >= 80rem) { max-width: 75rem; }
  @media (width >= 96rem) { max-width: 88rem; }
  @media (width >= 110rem) { max-width: 100rem; }
  @media (width >= 120rem) { max-width: 108rem; }
  @media (width >= 130rem) { max-width: 115rem; }
  @media (width >= 150rem) { max-width: 130rem; }
}


/* Component Stylings */
@layer components{
  .btn-base{
    @apply text-white bg-primary py-2 px-3 cursor-pointer duration-300 hover:bg-white hover:text-primary
  }
}

/* Utility Classes */
@layer utilities {
  .img-bg-cover{
    @apply object-cover bg-center h-full w-full;
  }
  .overlay{
    @apply absolute left-0 top-0 w-full h-full bg-black/75;
  }

  /* Fonts Styling */
  .font-poppins{
    font-family: var(--font-body) !important;
  }
  /* Heading font size */
  h1{
    @apply text-2xl md:text-3xl xl:text-6xl
  }
  h2{
    @apply text-xl md:text-2xl xl:text-4xl
  }

}

